.browsePageMain {
  background-color: #141414;
  /* position: absolute; */
  width: 100%;
}

.billBoard {
  height: 50vh;
}

.billBoard h1 {
  margin: 0;
  margin-left: 4%;
}

.row {
  width: 100%;
  margin: 3.5vw 0;
}

.rowMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  gap: 0.4vw;
  cursor: pointer;
}

.rowUpperContainer {
  display: flex;
  width: 90vw;
  gap: 0.4vw;
  position: relative;
}


.rowHeight {
  height: 10.5vw;
}

#rowHeightLarge{
  height: 13.5vw;
}

#verticalImage {
  width: 50% !important;
  z-index: 10;
  margin-left: auto;
}

#topTwentyImages {
  display: initial;
  /* padding-left: 3.5vw; */
  height: 100%;

  /* position: relative;
  left: 15%; */
  /* z-index: 1; */
}


.topTwentyContainer {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
}

.topTenImagesDiv {
  align-items: center;
  height: 100%;
}

.hideTopTwentyImages {
  display: none;
}

.rowContainer {
  display: flex;
  gap: 0.4vw;
  position: absolute;
  height: 100%;
}

.rowImage {
  width: calc(88.6vw / 5);
  border-radius: 3px;
}

.rowDiv {
  width: calc(88.6vw / 5);
  border-radius: 3px;
  display: flex;
  /* flex-direction: row-reverse;
  align-items: center; */
}

.arrowContainer {
  flex: 1;
  background-color: #14141496;
  z-index: 12;
}

.arrowContainerLeft {
  flex: 1;
  background-color: #14141400;
  z-index: 12;
}

.arrowDiv, .arrowDivLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.arrowImg {
  width: 60%;
}

.arrowHide {
  display: none;
}

.arrowShow {
  display: flex;
}

.arrowDiv:hover .arrowImg { 
  width: 75%; 
}

.arrowDiv:hover { 
  background-color: #141414be;
}

.rowTitle {
  margin: 0;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
  color: #e5e5e5;

  font-weight: 700;

  margin-left: 4.5vw;
  margin-bottom: 0.5em;
}

/* ----------------------------------CAROUSEL---------------------------------- */


#centerPositionMain{
  display: flex;
  
  animation: slideLeftAnimationOne 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#rightPosition{
  display: flex;
  /* left: 91vw; */

  animation: slideLeftAnimationThree 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#leftPosition{
  display: flex;
  /* left: -91vw; */

  animation: slideLeftAnimationTwo 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#centerPositionHidden{
  display: none;
}

@keyframes slideLeftAnimationOne {
  0% {
    left: 90vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slideLeftAnimationTwo {
  0% {
    left: 0vw;
  }
  100% {
    left: -91vw;
  }
}

@keyframes slideLeftAnimationThree {
  0% {
    left: 182vw;
  }
  100% {
    left: 91vw;
  }
}

/* ------------------------------ */



#centerPositionMainVariant{
  display: flex;
  
  animation: slideRightAnimationOneVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#rightPositionVariant{
  display: flex;
  /* left: 91vw; */

  animation: slideRightAnimationThreeVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#leftPositionVariant{
  display: flex;
  /* left: -91vw; */

  animation: slideRightAnimationTwoVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#centerPositionHiddenVariant{
  display: none;
}

@keyframes slideRightAnimationOneVariant {
  0% {
    left: -91vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slideRightAnimationTwoVariant {
  0% {
    left: -182vw;
  }
  100% {
    left: -91vw;
  }
}

@keyframes slideRightAnimationThreeVariant {
  0% {
    left: 0vw;
  }
  100% {
    left: 91vw;
  }
}


/*------------------------- screen widths -------------------------*/

@media only screen and (max-width: 1100px){
  .rowHeight{
    height: 12.5vw;
  }
  #rowHeightLarge {
    height: 17vw;
  }
}

@media only screen and (max-width: 600px){
  .rowHeight{
    height: 26vw;
  }
  #rowHeightLarge {
    height: 34vw;
  }
}