.loadingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  position: fixed;
  z-index: 3000;
}

.hideLoaderPage {
  display: none;
}

.browsePageMain {
  background-color: #141414;
  position: absolute;
  width: 100%;
}

.row {
  width: 100%;
  margin: 3.5vw 0;
}

.rowMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  gap: 0.4vw;
  cursor: pointer !important;
}

.rowUpperContainer {
  display: flex;
  width: 90vw;
  gap: 0.4vw;
  position: relative;
}


.rowHeight {
  height: 10.5vw;
}

#rowHeightLarge{
  height: 13.5vw;
}

#verticalImage {
  width: 50% !important;
  z-index: 10;
  margin-left: auto;
}

#topTwentyImages {
  display: initial;
  height: 100%;
}


.topTwentyContainer {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
}

.topTenImagesDiv {
  align-items: center;
  height: 100%;
}

.hideTopTwentyImages {
  display: none;
}

.rowMasterContainer {
  position: relative;
  top: -15vw;
}

.rowContainer {
  display: flex;
  gap: 0.4vw;
  position: absolute;
  height: 100%;
}

.rowImage {
  border-radius: 3px;
  height: 100%;
  width: auto;
}

.rowDiv {
  border-radius: 3px;
  display: flex;
  overflow: hidden;
}

.arrowContainer {
  flex: 1;
  background-color: #14141496;
  z-index: 12;
}

.arrowContainerLeft {
  flex: 1;
  background-color: #14141400;
  z-index: 12;
}

.arrowDiv, .arrowDivLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.arrowDivLeftPadding {
  margin-right: 0.4vw;
}

.arrowDivRightPadding {
  margin-left: 0.6vw;
}

.arrowImg {
  width: 60%;
}

.arrowHide {
  display: none;
}

.arrowShow {
  display: flex;
}

.arrowDiv:hover .arrowImg { 
  width: 75%; 
}

.arrowDiv:hover { 
  background-color: #141414be;
}

#leftArrowBlurrId {
  background-color: rgba(255, 255, 255, 0);
}

.rowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowTitle {
  margin: 0;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
  color: #e5e5e5;

  font-weight: 700;

  margin-left: 4.5vw;
  margin-bottom: 0.85em;
}

.sliderContainer {
  display: flex;
  gap: 1px;
  width: max-content;
  margin-right: 4.5vw;
  opacity: 0;
}

.sliderElements {
  width: 12px;
  height: 2px;
  background-color: #4d4d4d;
}

.slidercenterPositionMain, .slidercenterPositionMainVariant {
  background-color: #aaa;
}

.row:hover .sliderContainer {
  opacity: 100;
}

/* ----------------------------------HEADER---------------------------------- */

.browsePageHeader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  z-index: 1000;
  top: 0;
  left: 0;

  animation: backgroundToTransparent 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

.browsePageHeaderLogo {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.headerLogoContainer {
  padding-left: 4%;
}

.headerProfilePicContainer {
  top: calc((68px - 32px) / 2);
  right: 4%;
  cursor: pointer;
  position: absolute;
}

.profilePictureHeaderImg {
  border-radius: 4px;
}

.headerArrow {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;

  animation: rotateDown 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards;
}

.headerProfilePicContainerLower {
  display: flex;
  align-items: center;
}

.headerProfilePicContainer:hover .headerArrow {
  animation: rotateUp 0.5s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

.headerBackgroundDark {
  animation: backgroundToBlack 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

.headerProfileTab {
  position: absolute;
  right: 4%;
  top: 24px;
  padding-top: 10px;
  width: 181px;
  z-index: 10;
  color: #fff;
  display: none;
  animation: opacityToZero 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

.arrowTwoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerArrowTwo {
  border-width: 7px;
  margin-left: -7px;
  border-color: transparent transparent #e5e5e5;
  border-style: solid;
  margin-right: 29px;
  padding-top: 2px;
  margin-bottom: 2px;
}

.signOutContainer {
    background-color: rgba(0,0,0,.9);
    border: solid 1px rgba(255,255,255,.15);
}

.signOutButton {
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.signOutButton:hover {
  text-decoration: underline;
}

.showProfileTab {
  animation: opacityToMax 0.25s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
  display: initial;
}

@keyframes backgroundToBlack {
  0% {
    background-color: #14141400;
  }
  100% {
    background-color: #141414;
  }
}

@keyframes backgroundToTransparent {
  0% {
    background-color: #141414;
  }
  100% {
    background-color: #14141400;
  }
}

@keyframes rotateUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateDown {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes opacityToZero {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes opacityToMax {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    /* display: none; */
  }
}

/* ----------------------------------BILLBOARD---------------------------------- */

.billBoard {
  height: 56.25vw;
  width: 100%;
  position: relative;
}

.billBoardImgContainer {
  height: 56.25vw;
  width: 100%;
}

.billBoardGradient {
  height: 7.5rem;
  width: 100%;
  position: absolute;
  top: calc(56.25vw - 7.5rem);
  background-image: linear-gradient(to top, #141414 0,rgba(0, 0, 0, 0) 100%);
}

.billBoardBlurr {
  height: 56.25vw;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #1414142d;
}

.billBoardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.billBoardInfoContainer {
  position: absolute;
  bottom: 35%;
  left: 4%;
  width: 36%;
}

.billBoardTitle {
  font-size: 4vw;
  font-weight: 800;
  margin: 0;
  
}

.billBoardOverview {
  font-size: 1.2vw;
}

.billBoardBtnContainer {
  padding: 0;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.billBoardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.infoButton {
  background-color: rgba(109,109,110,0.7);
  color: white;
}

.infoButton:hover {
  background-color: rgba(71, 71, 71, 0.815);
}

.playButton:hover {
  background-color: rgba(216, 216, 216, 0.815);
}

.billBoardBtn img {
  height: 1.7vw;
  width: auto;
}

.billBoardBtn p {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0;
}


/* ----------------------------------CAROUSEL---------------------------------- */


#centerPositionMain{
  display: flex;
  
  animation: slideLeftAnimationOne 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#rightPosition{
  display: flex;
  animation: slideLeftAnimationThree 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#leftPosition{
  display: flex;
  animation: slideLeftAnimationTwo 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#centerPositionHidden{
  display: none;
}

@keyframes slideLeftAnimationOne {
  0% {
    left: 90vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slideLeftAnimationTwo {
  0% {
    left: 0vw;
  }
  100% {
    left: -91vw;
  }
}

@keyframes slideLeftAnimationThree {
  0% {
    left: 182vw;
  }
  100% {
    left: 91vw;
  }
}

/* ------------------------------ */



#centerPositionMainVariant{
  display: flex;
  
  animation: slideRightAnimationOneVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#rightPositionVariant{
  display: flex;
  animation: slideRightAnimationThreeVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#leftPositionVariant{
  display: flex;
  animation: slideRightAnimationTwoVariant 0.6s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

#centerPositionHiddenVariant{
  display: none;
}

@keyframes slideRightAnimationOneVariant {
  0% {
    left: -91vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slideRightAnimationTwoVariant {
  0% {
    left: -182vw;
  }
  100% {
    left: -91vw;
  }
}

@keyframes slideRightAnimationThreeVariant {
  0% {
    left: 0vw;
  }
  100% {
    left: 91vw;
  }
}

/* ----------------------------------CAROUSEL POPUPS---------------------------------- */

.popUpContainer {
  position: fixed;
  z-index: 2000;

}

.popUpExpansion {
  opacity: 0;
  animation: popUpExpansionAnimation 1s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.popUpTrailerContainer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.trailerError {
  display: none;
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.showTrailerError {
  display: initial !important;
}

.popUpImage {
  height: 100%;
  width: 100%;
}

.popUpLowerContainer {
  background-color: #141414;
  padding: 1em;
}

.popUpButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playButtonTwo, .likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.likeButton {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
}

.likeButton:hover {
  border: 1px solid white;
}

.playButtonTwo {
  background-color: white;
  border: 1px solid white;
}

.playButtonTwo:hover {
  animation: rotatePlayAnimation 0.2s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}


.likeImage, .playButtonTwoImage, .muteImage  {
  height: 13px;
  width: auto;
}

.matchText {
  color: #46d369;
  font-size: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hidePopUpimage {
  animation: hidePopUpimageAnimation 0.5s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
}

.reactPlayerContianer {
  position: relative;
  height: 100%;
  width: 100%;
}

.videoPlayerMuteDiv {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: rgba(42,42,42,.6);
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.videoPlayerMuteDiv:hover {
  border: 1px solid rgba(255,255,255);
}

.moviePopUpName {
  margin: 0;
  font-size: 10px;
  max-width: calc(88.6vw / 5);
  overflow: hidden;
  white-space: nowrap;
}

.showPopUpimage, .hidePopUpimage {
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalImagePopUp {
  width: auto;
  height: 100%;
}

@keyframes popUpExpansionAnimation {
  0% {
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 100%;
  }
}



@keyframes hidePopUpimageAnimation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotatePlayAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(120deg);
  }
}

/*------------------------- screen widths -------------------------*/

@media only screen and (min-width: 1100px) {
  .rowDiv {
    width: calc(88.6vw / 5);
    height: auto;
  }
  .popUpTrailerContainer, .showPopUpimage, .hidePopUpimage  {
    width: 300px;
    height: 154px;
  }
  .moviePopUpName {
    max-width: calc(88.6vw / 6);
  }

}

@media only screen and (max-width: 1100px){
  .rowHeight{
    height: 12.5vw;
  }
  #rowHeightLarge {
    height: 17vw;
  }
  .rowDiv {
    width: calc(88.6vw / 4);
    height: auto;
  }
  .popUpTrailerContainer, .showPopUpimage, .hidePopUpimage  {
    width: calc(300px / 1.4);
    height: calc(154px / 1.4);
  }

  .moviePopUpName {
    max-width: calc(88.6vw / 5);
  }
  .likeImage, .playButtonTwoImage, .muteImage  {
    height: 10px;
  }
  .videoPlayerMuteDiv, .playButtonTwo, .likeButton {
    height: 23px;
    width: 23px;
  }
}

@media only screen and (max-width: 950px){
  .browsePageHeaderLogo {
    height: 21px;
  }
  .browsePageHeader {
    height: 41px;
  }
  .headerProfileTab {
    top: 25px;
    padding-top: 10px;
  }
  .headerProfilePicContainer {
    top: calc((41px - 32px) / 2);
  }
}

@media only screen and (max-width: 840px){
  .billBoardBtn {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .billBoardBtn img {
    height: 1.3rem;
  }
  .billBoardBtn p {
    font-size: 0.9rem;
  }
  .videoPlayerMuteDiv, .playButtonTwo, .likeButton {
    height: 18px;
    width: 18px;
  }
  .trailerError, .moviePopUpName, .matchText {
    font-size: 9px;
  }
  .billBoardOverview {
    max-height: 50px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px){
  .rowTitle{
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px){
  .billBoardBtnContainer {
    margin-right: 1vw;
  }

  .billBoardBtn {
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    gap: 7px;
  }

  .billBoardBtn img {
    height: 2.9vw;
  }
  .billBoardBtn p {
    font-size: 2.3vw;
  }
  .browsePageHeaderLogo {
    height: 14px;
  }
  .sliderContainer {
    opacity: 100;
  }
}

@media only screen and (max-width: 600px){
  .rowHeight{
    height: 26vw;
  }
  #rowHeightLarge {
    height: 34vw;
  }
  .rowDiv {
    width: calc(88.6vw / 2);
    height: auto;
  }
  .popUpTrailerContainer, .showPopUpimage, .hidePopUpimage  {
    width: calc(300px / 2);
    height: calc(154px / 2);
  }

  .moviePopUpName {
    max-width: calc(88.6vw / 3);
    font-size: 7px;
  }
  .billBoardTitle {
    font-size: 3vw;
  }
}