.registartionPage {
  color: #333;
  height: 100vh;
  position: relative;
}

.registrationPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  height: 90px;
}

.registrationPageLogo {
  height: 45px;
  width: auto;

}

.logoLink {
  padding-left: 3%;
}

.signInLink {
  text-decoration: none;
  padding-right: 3%;
  color: #333;
}

.signInLink:hover {
  text-decoration: underline;
}

.registrationPageSignIn {
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
}

.showSectionOne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 91px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sectionOneContainer {
  max-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.devicesImage {
  height: auto;
  width: 260px;
  margin-bottom: 20px;
}

.sectionOneContainer h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0.4em;
}

.sectionOneContainer p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.4em;
  margin: 0;
  margin-bottom: 24px;
  max-width: 300px;
}

.sectionOneContainer button, .registrationPageForm button {
  min-height: 64px;
  font-weight: 500;
  font-size: 24px;
  border-radius: 4px;
  color: white;
  background-color: #e50914;
  width: 100%;
  min-width: 110px;
  padding: 0;
  border: none;
  cursor: pointer;
}

:hover.sectionOneContainer button {
  background-color: #ff000d;
}

:hover.registrationPageForm button {
  background-color: #ff000d;
}

.hideSectionOne {
  animation: slideRightAnimation 0.25s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hideSectionTwo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.showSectionTwo {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-30%, -50%);
  animation: slideRightAnimationTwo 0.5s cubic-bezier(.5,0,.1,1);
  animation-fill-mode: forwards; 
  display: initial;
  opacity: 0;
}

.sectionTwoContainer {
  max-width: 440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectionTwoContainer h1 {
  margin: 0 0 0.4em;
  font-size: 32px;
}

.sectionTwoContainer p {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 18px;
  line-height: 1.8;
}

.inputHeight {
  height: 40px;
  max-width: 415px;
}

.registrationPageForm {
  position: relative;
}

.registrationPageForm button {
  margin-top: 30px;
}

.registrationPageLabelEmail, .registrationPageLabelPassword {
  position: absolute;
  color: #8c8c8c;
  left: 10px;
  top: 2px;
  font-weight: 700;
  font-size: 13px;
}

.registrationPageLabelPassword {
  top: 90px;
}

#inputValidationText {
  margin: 0;
  font-size: 0.8rem;
  height: 0.8rem;
  color: #b92d2b;
}

.showErrorBox {
  border: 1px solid #b92d2b;
  border-radius: 2px;
}

.hideErrorBox {
  border: solid 1px #8c8c8c;
  border-radius: 2px;
} 



@keyframes slideRightAnimation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    left: 100%;
    transform: translate(-100%, -50%);
  }
}

@keyframes slideRightAnimationTwo {
  0% {

  }
  50% {
    opacity: 0;
    left: 30%;
    transform: translate(-30%, -50%);
  }
  100% {
    opacity: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 550px){
  .registrationPageLogo {
    height: 20px;
  }
  .registrationPageSignIn {
    font-size: 14px;
  }
  .registrationPageHeader {
    height: 45px;
  }
  .sectionTwoContainer {
    max-width: 80vw;
    width: 80vw;
    padding-right: 20px;
  }
}